//**********
//COLORS
//**********
$accentColor_pink:#ff817e;
$fontColor_darkgray:#111;
$fontColor_gray:#333;
$fontColor_lightgray:#888;
$backgroundColor_white:#fff;

//**********
//FONT SIZES
//**********
$font_XXS: 0.8rem;
$font_XS: 0.9rem;
$font_S: 1rem;
$font_M: 1.25rem;
$font_L: 1.5rem;
$font_XL: 2.25rem;
$font_XXL: 2.5rem;
$font_XXXL: 3.2rem;

//***********
//BREAKPOINTS
//***********
$breakpoint_desktop: 1280px;
$breakpoint_laptop: 950px;
$breakpoint_tablet: 768px;
$breakpoint_phone: 600px;

